

body {
    font-family:'Arial',  sans-serif;
    background-color: #e6e6ee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.container {
    background-color: #d4dcfe;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a36a5;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #040349;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000f73;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
   
}


button:hover {
    background-color: #011121;
    
}

 


